@font-face {
  font-family: 'shabnam';
  src: url(./fonts/Shabnam.woff);
}
@font-face {
  font-family: 'shabnam';
  src: url(./fonts/Shabnam-Thin.woff);
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

.text-center {
  text-align: center;
}

body {
  background-color: #eeeeee;
  color: #333333;
  font-size: 16px;
  font-family: shabnam, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  /* max-width: 992px; */
}

body>nav {
  position: fixed;
  inset-inline: 0;
  inset-block-start: 0;
  position: fixed;
  z-index: 10;
  padding-inline: 1rem;
}

body>nav ul {
  max-width: 992px;
  margin: 1rem auto;
  color: #eeeeee;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 4rem;
  background-color: #194a5fcc;
  backdrop-filter: blur(5px);
  box-shadow: #0003 0 10px 16px -10px;

}

body>nav ul a {
  color: #ffffff;
  padding: 1rem;
  display: block;
  text-decoration: none;
}

body>nav ul a:hover {
  text-decoration: underline;
}

header {
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #0076a8;
  text-shadow: 2px 2px 2px #0001;
  position: relative;
}

header * {
  margin: 0;
}

header h1 {
  font-size: 9rem;
  line-height: 1em;
  font-weight: 100;
}

header p {
  text-align: left;
  margin-top: -1.5em;
  margin-left: .6em;
  font-weight: 700;
  font-size: .9em;
}

header .down-arrow {
  width: 2rem;
  height: 2rem;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
  position: absolute;
  bottom: 4rem;
  left: calc(50% - 1rem);
}

section {
  padding: 6rem 1rem 2rem;
  max-width: 600px;
  margin-inline: auto;
}

#manifest {
  font-size: 1.2rem;
}
#manifest li {
  margin-block: .75rem;
}
#manifest em {
  opacity: .7;
  font-size: .8em;
}

#why {
  padding: 4rem 1rem;
  text-align: start;
  margin: 5rem auto;
}

#why .wrapper {
  color: #333;
  background-color: #dfdfdf;
  border-radius: 1rem;
  padding: 1rem;
}

#why h2 {
  text-align: center;
}

footer {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #333;
  color: #dfdfdf;
}

footer a {
  color: #0076a8;
}
